<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda App</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <a href="/">
            <h1>Agenda App</h1>
        </a>
        
    </header>

    <section id='menu'>
        <input type="checkbox" id="menuchec">
        <label id='menulabel' for="menuchec">
            <img src="/img/menu.png" id='menuicon' alt="">
        </label>
        <nav>
            <ul id='menulista'>
                <li><a href="/">Agendamento</a></li>
                <li><a href="/consultas">Consultas Agendadas</a></li>
                <li><a href="/historico">Histórico de Consultas</a></li>
            </ul>
        </nav>
    </section>

    <main class='container'>

        <section class='card' id='agendamento'>
            <form id='form-cliente' action="/" method="post">
                <div class='itensForm'>
                    <h2>Agendamento</h2>
                </div>
                <div class='itensForm'>
                    <label for="nomeCliente">Nome</label>
                    <input type="text" name="nomeCliente" id="nomeCliente">
                </div>

                <div class='itensForm'>
                    <label for="nomeCliente">Telefone</label>
                    <input type="tel" name="telCli" id="telCli">
                </div>


                <div id='divProc' class='itensForm'>
                    <label id='lblProc' for="nomeProc">Procedimento</label>
                    <input type="text" name="nomeProc" id="nomeProc">
                </div>

                <div class='itensForm'>
                    <label for="horario">Horario</label>
                    <input type="datetime-local" name="horario" id="horario">
                </div>

                <div class='itensForm'>
                    <label for="txtValor">Valor:</label>
                    <input type="number" name="txtValor" id="txtValor">
                </div>
                <input type="submit" form='form-cliente' id='inserirCliente' value="Inserir Cliente"
                    onclick='agendaCliente()'>
            </form>

        </section>

    </main>

    <footer>

    </footer>

    <script src="/scripts/script.js"></script>
</body>

</html>