/* Global */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:darkgoldenrod;    
    font-family: "Raleway";
}

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: rgb(226, 162, 162);        /* color of the tracking area */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: gold;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 0.1rem solid black;  /* creates padding around scroll thumb */
  }

main{
    padding-left:20%;
}

header a:hover{
    background-color: rgba(0,0,0,0);
    color: antiquewhite;
    cursor:pointer;
}


.container{
    width: min(90vw, 800);
    margin:auto;
    text-align: center;
}


header{
    background-color:rgb(13, 223, 223);
    padding: 2rem 0 1rem; /*2 0 10 */
    text-align: center;
    margin-bottom: 1rem;
}

header h1{
    text-align: center;
    margin-bottom: 5rem;
    color: black;
}

/* Sarch Bar*/

#searchBar{
    text-align: center;
    margin-bottom: 10px;
}


/*Menu*/

a{
    text-decoration: none;
    color:black;
    display:block;
    padding: 10px 5px;
    color: antiquewhite;
}





#menulabel{
    padding: 0.5rem;
    position:absolute;
    z-index: 1;
    background-color: rgba(1,1,1,0.5);
    width: 2rem;
    
    transition: all ease 0.6s;
}



#menuicon{
    width: 1rem;
}

#menulista{
    border-top-right-radius: 7px;
    position:absolute;
    top: 2.19rem;
    width: 100%;
    height:max-content;
    background-color: rgba(1,1,1,0.5);

}

ul{
    list-style: none;
}

#menuchec{
    display:none;

}



nav{
    width: 12rem;
    left: -12rem;
    position: absolute;
    transition: all ease 0.5s;
}

#menuchec:checked ~ #menulabel{
    width: 12rem;

}

#menuchec:checked ~ nav{
    transform: translateX(12rem);
}

#menuchec:checked ~ .card{
    transform: translateY(10rem);
}

/* Área Consultas */

.consulta{
    max-width: 30rem;
    background: rgba(1, 1, 1, 0.534);
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    color:rgb(133, 230, 69);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.637),
    0px 3px 1px -1px rgb(205, 92, 92),
    0px 1px 5px 0px rgba(0, 0, 0, 0.76);
}

.consulta .id{
    font-size: 1rem;
    display: inline;
    color: rgb(55, 145, 161);
}

.consulta .status{
    display: inline-block;
    margin-left: 70%;
    color:rgb(205, 92, 92)
}

.consulta .name{
    font-size: 2rem;
    padding-left: 1.5rem;
}

.consulta .mail{
    padding-left: 30%;
}

.consulta .procedimento{
    margin-top: 10px;
    padding-left:3rem;
    color:rgb(205, 92, 92);
    margin-bottom: 10px;
}

.consulta .prazo{
    padding-left: 2rem;
}
.consulta .prazo p{
    padding-left: 2.5rem;
    color: rgb(55, 145, 161);
}

.consulta .valor{
    padding-left: 2rem;
}

.consulta .valor p{
    padding-left: 2.5rem;
    color: rgb(55, 145, 161);
}

.actions{
    display: flex;
}

#acthist a{
    margin-left: 20%;
}

.actions .button img{
    width: 1.7rem;
    margin-left: 150px;

}

.button:hover{
    background-color: rgba(0,0,0,0);
    cursor:pointer;
}

/*Card*/

.card{
    margin-left: 30vh;
    max-width: 30rem;
    background: rgba(1, 1, 1, 0.534);
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    color:rgb(133, 230, 69);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.637),
    0px 3px 1px -1px rgb(205, 92, 92),
    0px 1px 5px 0px rgba(0, 0, 0, 0.76);
}

.card h2{
    color: rgb(60, 165, 184);
    font-size: 2rem;
    margin-bottom: 20px;
}

.card span{
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card input{
    padding: 5px;
    border-radius: 0.3rem;
    border: none;

    background: #FCFDFF;

    border: 1px solid #E1E3E6;
    border-radius: .313rem;

}

.card p{
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}



#inserirCliente{    
    font-family: "Raleway";
    width: 7rem;
    height: 3rem;
    border: none;
    color:antiquewhite;
    background-color: rgb(55, 145, 161);

    padding: 10px;

    border-radius: 0.5rem;

    cursor: pointer;
    margin-bottom: 0;
    margin-top: 1rem;
    text-align: center;
}

#salvarCliente{    
    font-family: "Raleway";
    width: 8rem;
    height: 3rem;
    border: none;
    color:antiquewhite;
    background-color: rgb(55, 145, 161);

    padding: 10px;

    border-radius: 0.5rem;

    cursor: pointer;
    margin-bottom: 0;
    margin-top: 1rem;
    text-align: center;
}

#inserirCliente:hover{
    background-color:rgb(133, 230, 69);
    color: black;
}

#salvarCliente:hover{
    background-color:rgb(133, 230, 69);
    color: black;
}

/* Modal */

#img-modal{
    width: 2rem;
}

.modal-wrapper {
    visibility: hidden;
    opacity: 0;
    position: fixed;
  }
  
  .modal-wrapper.on {
    height: 100vh;
    width: 100vw;
  
    position: fixed;
    top: 0;
    left: 0;
  
    background: rgba(0, 0, 0, 0.8);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    visibility: visible;
    opacity: 1;
  }
  
  .modal {
    background: #F0F2F5;
  
    border-radius: 0.313rem;
  
    padding: 2.5rem;
  
    text-align: center;
  
    color: var(--color-card-content);
  }
  
  .modal img {
    margin-bottom: 2rem;
  }
  
  .modal h3 {
    color: var(--color-card-title);
  
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.625rem;
  
    margin-bottom: .5rem;
  }
  
  .modal p {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .modal footer button {
    padding: 0.75rem 3rem;
    border-radius: 0.313rem;
  
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.625rem;
    text-transform: uppercase;
  
    transition: all .2s;
  
    cursor:pointer;
  }

  .modal footer{
      display: flex;
  }

  #btn-cancell{
      color: black;
      padding: 1rem;
      margin-right: 5rem;
  }

  #btn-cancell:hover{
      background-color:rgb(13, 223, 223);
      border-radius: 30px;
  }
  
  .modal footer button + button {
    margin-left: .5rem;
  }
  
  .modal footer button:nth-child(1) {
    background: white;
  }
  
  .modal footer button:nth-child(1):hover {
    background: #FA3F38;
  }
  

  
  .modal footer button:nth-child(2):hover {
    background-color: #FA3F38;
  }

/* Formulario */

.itensForm{
    margin-top: 10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.itensForm input{
    width: 50%;
}

#apagarConsulta{
    width: 2rem;
    background: none;
    margin-top: 0.8rem;
    margin-left: 100%;
}

#editBox{
    display: flex;
    margin-left: 25%;
}





.campoForm{
    padding: 0 3px 3px 3px;
    border-radius: 10px;
    border-color:lightseagreen;
}


/* Responsive */
@media (min-width:800px){

    #container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:2rem;
    }

}

@media(max-width:770px) {
    .card {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "lt rt"
      "lm rm"
      "lb rb"
      ;
      gap: .5rem;
    }
  
    .column.id {
      display: none;
    }
  
    .column.name {
      grid-area: lt;
    }
    .column.deadline {
      grid-area: lm;
    }
    .column.amount {
      grid-area: lb;
    }
    .column.status {
      justify-self: end;
      grid-area: rt;
    }
    .column.actions{
      grid-area: rb;
    }
  }